@page
@model PRN221_FinalProject.Pages.Admin.AddProductModel
@{
    Layout = "_NavLayout";
}
<h3>Add New Product</h3>

<form method="post" asp-page-handler="Add">
    <div class="form-group">
        <label for="productName">Product Name:</label>
        <input type="text" class="form-control" id="productName" name="ProductInput.ProductName" required>
    </div>

    <div class="form-group">
        <label for="categoryId">Category:</label>
        <select class="form-control" id="categoryId" name="ProductInput.CategoryId" required>
            <option value="">Select Category</option>
            @foreach (var category in Model.Categories)
            {
                <option value="@category.CategoryId">@category.CategoryName</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="unitPrice">Unit Price:</label>
        <input type="number" step="0.01" class="form-control" id="unitPrice" name="ProductInput.UnitPrice" required>
    </div>
    <div class="form-group">
        <label for="productImage">Product Image:</label>
        <input type="text" class="form-control" id="productImage" name="ProductInput.ProductImage" required>
    </div>
    <div class="form-group">
        <label for="quantityInStock">Quantity in stock:</label>
        <input type="number" class="form-control" id="quantityInStock" name="ProductInput.QuantityInStock" required>
    </div>
    <div class="form-group">
        <label for="description">Description:</label>
        <input type="text" class="form-control" id="description" name="ProductInput.Description" required>
    </div>
    <button style="margin-top: 20px" type="submit" class="btn btn-primary">Add Product</button>
</form>
@if (TempData["ErrorMessAdd"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessAdd"]</div>
}
<hr />